<div class="content-frame">
  <h1 id="kontakt-header" class="center-text">Kontakt</h1>
  <hr />
  <div class="contact-container">
    <div class="card card-style">
      <div class="card-body">
        <div style="display: flex; justify-content: center; align-items: center; align-content: center; height: 100%">
          <div>
            <img class="filter-blue" src="{{ site.baseurl }}/assets/images/map.svg" alt="map icon" style="padding-right: 5px" />
            <i style="text-align: left">{{ site.address_part1 }}</i>
            <p>{{ site.address_part2 }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-style">
      <div class="card-body">
        <div style="display: flex; justify-content: left">
          <img class="filter-blue" src="{{ site.baseurl }}/assets/images/telephone.svg" alt="telephone icon" style="padding-right: 5px" />
          <a href="tel:{{ site.phonenumber }}">{{ site.phonestring }}</a>
        </div>
        <div style="display: flex; justify-content: left">
          <img class="filter-blue" src="{{ site.baseurl }}/assets/images/envelope.svg" alt="email icon" style="padding-right: 5px" />
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="centered-container">{% include maps.html %}</div>

  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
</div>
