<footer>
  <div class="footer-container">
    <div class="content-frame">
      <div class="flex-vertical footer-padding">
        <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="Logo" width="100px" height="80px" />
        <div class="footer-content-container">
          <a class="center-text" href="{{ site.baseurl }}/index.html">Home</a>
          <a class="center-text" href="{{ site.baseurl }}/floristik.html">Floristik</a>
          <a class="center-text" href="{{ site.baseurl }}/garten.html">Garten</a>
          <a class="center-text" href="{{ site.baseurl }}/friedhof.html">Friedhof</a>
          <a class="center-text" href="{{ site.baseurl }}/hochzeit.html">Hochzeit & Event</a>
          <a class="center-text" href="{{ site.baseurl }}/ueber-uns.html">Über uns</a>
          <a class="center-text" href="{{ site.baseurl }}/impressum.html">Impressum</a>
          <a class="center-text" href="{{ site.baseurl }}/datenschutz.html">Datenschutz</a>
        </div>
        <div class="social-media-button">
          <a href="https://www.facebook.com/floristik.prein/" id="social-media-link1"
            ><img src="{{ site.baseurl }}/assets/images/facebook.svg" alt="Facebook Icon" class="filter-blue" width="40" height="40"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
