<footer>
  <div class="footer-container">
    <div class="content-frame">
      <div class="flex-vertical footer-padding">
        <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="Logo" width="100px" height="80px" />
        <div class="footer-content-container">
          <div class="flex-vertical" style="justify-content: left; align-content: flex-start; align-items: flex-start">
            <h4 style="font-weight: 700; text-align: left">Landschaftsbau Peter Prein</h4>
            <div class="h-spacer"></div>
            <div>
              <img class="filter-blue" src="{{ site.baseurl }}/assets/images/map.svg" alt="map icon" style="padding-right: 5px" />
              <i style="text-align: left">{{ site.address_part1 }}</i>
            </div>
            <p>{{ site.address_part2 }}</p>
            <a href="{{ site.baseurl }}/impressum.html">Impressum</a>
            <a href="{{ site.baseurl }}/datenschutz.html">Datenschutz</a>
          </div>

          <div class="flex-vertical" style="align-items: flex-start">
            <h4 style="font-weight: 700; text-align: left">Kontakt</h4>
            <div class="h-spacer"></div>
            <div>
              <img class="filter-blue" src="{{ site.baseurl }}/assets/images/telephone.svg" alt="telephone icon" style="padding-right: 5px" />
              <a href="tel:{{ site.phonenumber }}">{{ site.phonestring }}</a>
            </div>
            <div>
              <img class="filter-blue" src="{{ site.baseurl }}/assets/images/envelope.svg" alt="email icon" style="padding-right: 5px" />
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
