<div class="mapouter">
  <div class="gmap_canvas">
    <button
      id="gmaps_button"
      class="my-button"
      onClick='document.getElementById("gmap_canvas").src="https://maps.google.com/maps?q=prein%20floristik&t=&z=13&ie=UTF8&iwloc=&output=embed";
               document.getElementById("gmaps_button").style.display = "none";'
      style="position: absolute; left: 50%; top: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transform: translateX(-50%)"
    >
      Klicken Sie hier, um der Nutzung von Google Maps zuzustimmen.
    </button>

    <iframe width="100%" height="500" id="gmap_canvas" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" loading="lazy"></iframe><br /><style>
      .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 100%;
      }</style
    ><a href="https://www.embedgooglemap.net">make google maps responsive</a
    ><style>
      .gmap_canvas {
        overflow: hidden;
        background-image: url("{{ site.baseurl }}/assets/images/maps_cover.png");
        background-size: cover;
        height: 500px;
        width: 100%;
      }
    </style>
  </div>
</div>
