<div id="topnav-sticky-container" class="sticky-top topnav-frame">
  <div class="centered-container">
    <nav class="my-navbar navbar navbar-expand-lg navbar-light navbar-text-color navbar-text-color">
      <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
        <img id="topnav-logo" src="{{ site.baseurl }}/assets/images/logo.svg" width="100" height="80" alt="" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a id="navbar-link-1" class="my-navbar-item big-font nav-item nav-link" href="{{ site.baseurl }}/garten.html">Garten</a>
          <a id="navbar-link-2" class="my-navbar-item big-font nav-item nav-link" href="{{ site.baseurl }}/friedhof.html">Friedhof</a>
          <a id="navbar-link-3" class="my-navbar-item big-font nav-item nav-link" href="{{ site.baseurl }}/index.html#kontakt-header">Kontakt</a>
        </div>
      </div>
    </nav>
  </div>
</div>
