---
layout: default
---

{% include subcategory.html %}

<div class="content-frame">
  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">Unser Sortiment</h1>
    </div>
  </div>
  <hr />
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower1.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Sträuße</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower2.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Gestecke</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower3.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Topfpflanzen (Haus)</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower4.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Topfpflanzen (Garten)</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower5.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Dekoartikel</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower6.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Aktuelle Saison</p>
      </div>
    </div>
  </div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<img src="{{ site.baseurl }}/assets/images/floristik-filler1.jpg" alt="Bild von Pflanzen" width="100%" />

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<div class="content-frame">
  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">Unser Geschäft</h1>
    </div>
  </div>
  <hr />
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="card card-style" style="width: 584px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/floristik/laden1.jpg" alt="Bild des Blumenladens" loading="lazy" />
    </div>
    <div class="card card-style" style="width: 584px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/floristik/laden2.jpg" alt="Bild des Blumenladens" loading="lazy" />
    </div>
    <div class="card card-style" style="width: 584px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/floristik/laden3.jpg" alt="Bild des Blumenladens" loading="lazy" />
    </div>
    <div class="card card-style" style="width: 584px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/floristik/laden4.jpg" alt="Bild des Blumenladens" loading="lazy" />
    </div>
  </div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
