---
layout: default
---

{% include subcategory.html %}

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<div class="content-frame">
  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">Unser Sortiment</h1>
    </div>
  </div>
  <hr />
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower1.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Blumensträuße</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower2.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Gestecke</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower3.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Dekogegenstände</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower4.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Topfpflanzen</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower5.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Gartenpflanzen</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower6.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Kakteen</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower7.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Kräuter</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower8.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Für Ostern</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower9.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Kränze</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower10.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Für Weihnachten</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower11.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Für den Tisch</p>
      </div>
    </div>

    <div class="card card-style" style="width: 150px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/flower12.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Für die Oma</p>
      </div>
    </div>
  </div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<img src="{{ site.baseurl }}/assets/images/floristik-filler1.jpg" alt="Bild von Pflanzen" width="100%" />

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<div class="content-frame">
  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">Unser Geschäft</h1>
    </div>
  </div>
  <hr />
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <img class="default-border large-image" src="{{ site.baseurl }}/assets/images/deco1.jpg" alt="Bild eines Blumenkranzes" />
    <img class="default-border large-image" src="{{ site.baseurl }}/assets/images/deco2.jpg" alt="Bild eines Blumenkranzes" />
  </div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
