---
layout: default
---

{% include subcategory.html %} {% include garten-carousel.html %}

<div class="dark-bg">
  {% include default-spacer.html %}
  <div class="content-frame">{% include accordion.html %}</div>
  {% include default-spacer.html %}
</div>
{% include default-spacer.html %}

<div class="content-frame">
  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">Galerie</h1>
    </div>
  </div>
  <hr />
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/1.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="0"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Holländischer Garten</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/2.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="1"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Bepflanzung mit typisch strandnahen Pflanzen</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/3.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="2"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">In den Garten integrierte Modelleisenbahn</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/4.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="3"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Umgestaltung eines alten Pools in einen mediterranen Garten</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/5.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="4"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Alte Mauern, ein getrocknetes Flussbett, Feigen und typische Mittelmeerpflanzen finden hier Platz</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/8.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="5"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">WPC-Zaunanlage</p>
      </div>
    </div>
  </div>
  {% include default-spacer.html %}
</div>

<div class="dark-bg">
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div>
      <div class="centered-container">
        <h2 style="text-align: center">
          Naturnahe Umgestaltung einer alten Teichanlage<br />
          mit Ruhezonen für Libellen und Molche
        </h2>
      </div>
      <div class="h-spacer"></div>
      <div class="h-spacer"></div>
      <div class="h-spacer"></div>
      <div class="flex-horizontal">
        <div class="before-after-image-container">
          <img
            src="{{ site.baseurl }}/assets/images/garten/garten-referenz2.jpg"
            alt="Bild von Teichbau"
            class="default-border before-after-image"
            loading="lazy"
          />
          <div class="before-after-image-caption-left">
            <p>Vorher</p>
          </div>
        </div>
        <div class="before-after-image-container">
          <img
            src="{{ site.baseurl }}/assets/images/garten/garten-referenz14.jpg"
            alt="Bild des fertiggestellten Teiches"
            class="default-border before-after-image"
            loading="lazy"
          />
          <div class="before-after-image-caption-right">
            <p>Nachher</p>
          </div>
        </div>
        <div class="before-after-image-container">
          <img
            src="{{ site.baseurl }}/assets/images/garten/garten-referenz3.jpg"
            alt="Bild des fertiggestellten Teiches"
            class="default-border before-after-image"
            loading="lazy"
          />
          <div class="before-after-image-caption-right">
            <p>Nachher</p>
          </div>
        </div>
      </div>
      <div class="h-spacer"></div>
    </div>
  </div>
  {% include default-spacer.html %}
</div>

{% include default-spacer.html %}

<div class="content-frame">
  <div class="flex-horizontal">
    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/6.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="6"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Neuanlage einer Terrasse aus keramischen Platten mit einer Granitumrandung</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/7.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="7"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Treppenzugang zur Terrasse</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/9.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="8"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Gestaltung einer Holzterrasse auf einem Flachdach</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/10.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="9"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Dachterrasse mit Grünzone</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/14.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="10"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Terrassenbau und Beetgestaltung</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/15.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="11"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Beetgestaltung mit Dekosteinen</p>
      </div>
    </div>
  </div>
</div>

{% include default-spacer.html %}

<div class="dark-bg">
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div>
    <div class="centered-container">
      <h2 style="text-align: center">Terrassenneugestaltung aus keramischen Platten</h2>
    </div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="flex-horizontal">
      <div class="before-after-image-container">
        <img
          src="{{ site.baseurl }}/assets/images/garten/garten-referenz7.jpg"
          alt="Bild einer Terrasse vor dem Bau"
          class="default-border before-after-image"
          loading="lazy"
          data-target="#garten-carousel"
          data-slide-to="0"
        />
        <div class="before-after-image-caption-left">
          <p>Vorher</p>
        </div>
      </div>
      <div class="before-after-image-container">
        <img
          src="{{ site.baseurl }}/assets/images/garten/garten-referenz8.jpg"
          alt="Bild einer Terrasse nach dem Bau"
          class="default-border before-after-image"
          loading="lazy"
          data-target="#garten-carousel"
          data-slide-to="0"
        />
        <div class="before-after-image-caption-right">
          <p>Nachher</p>
        </div>
      </div>
    </div>
    <div class="h-spacer"></div>
  </div>
  {% include default-spacer.html %}
</div>

{% include default-spacer.html %}

<div class="content-frame">
  <div class="flex-horizontal">
    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/11.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="12"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Geometrisch gestalteter Garten</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/12.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="13"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Edelstahlbecken</p>
      </div>
    </div>

    <div class="card card-style gallery-card" data-toggle="modal" data-target="#garten-carousel-modal">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/gallery/thumbnail/13.jpg"
        alt="Bild eines Gartens"
        loading="lazy"
        data-target="#garten-carousel"
        data-slide-to="14"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Edelstahlbecken mit LED-Beleuchtung in 12 Farben</p>
      </div>
    </div>
  </div>
</div>

{% include default-spacer.html %}
