---
layout: default
---

{% include subcategory.html %}

<div class="content-frame">
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">Galerie</h1>
    </div>
  </div>
  <hr />
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="card card-style" style="width: 500px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/garten-referenz2.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Zaunbau in Westerholt</p>
      </div>
    </div>

    <div class="card card-style" style="width: 500px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/garten-referenz3.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Bewässerungsanlage für Familie Kolwitz</p>
      </div>
    </div>

    <div class="card card-style" style="width: 700px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/garten-referenz1.jpg" alt="Bild einer Schnittblume" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Dachbegrünung in Herten</p>
      </div>
    </div>
  </div>

  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="centered-container">
    <h2>Von der Planung bis zur Vollendung</h2>
  </div>

  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="before-after-image-container">
      <img src="{{ site.baseurl }}/assets/images/garten-before1.jpg" alt="before" width="500px" height="450px" class="default-border" />
      <div class="before-after-image-caption-left">
        <p>Vorher</p>
      </div>
    </div>
    <div class="before-after-image-container">
      <img src="{{ site.baseurl }}/assets/images/garten-after1.jpg" alt="after" width="500px" height="450px" class="default-border" />
      <div class="before-after-image-caption-right">
        <p>Nachher</p>
      </div>
    </div>
  </div>

  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
</div>
