---
layout: default
---

{% include subcategory.html %}

<div class="content-frame">
  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">Galerie</h1>
    </div>
  </div>
  <hr />
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="card card-style" style="width: 800px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/garten/garten-referenz1.jpg" alt="Bild eines Gartens" loading="lazy" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Holland- und Eisenbahnliebhaber, Bepflanzung mit typischen strandnahen Pflanzen</p>
      </div>
    </div>
  </div>

  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
</div>

<div class="dark-bg">
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div>
      <div class="centered-container">
        <h2 style="text-align: center">
          Naturnahe Umgestaltung einer alten Teichanlage<br />
          mit Ruhezonen für Libellen und Molche
        </h2>
      </div>
      <div class="h-spacer"></div>
      <div class="flex-horizontal">
        <div class="before-after-image-container">
          <img
            src="{{ site.baseurl }}/assets/images/garten/garten-referenz2.jpg"
            alt="Bild von Teichbau"
            class="default-border before-after-image"
            loading="lazy"
          />
          <div class="before-after-image-caption-left">
            <p>Vorher</p>
          </div>
        </div>
        <div class="before-after-image-container">
          <img
            src="{{ site.baseurl }}/assets/images/garten/garten-referenz14.jpg"
            alt="Bild des fertiggestellten Teiches"
            class="default-border before-after-image"
            loading="lazy"
          />
          <div class="before-after-image-caption-right">
            <p>Nachher</p>
          </div>
        </div>
        <div class="before-after-image-container">
          <img
            src="{{ site.baseurl }}/assets/images/garten/garten-referenz3.jpg"
            alt="Bild des fertiggestellten Teiches"
            class="default-border before-after-image"
            loading="lazy"
          />
          <div class="before-after-image-caption-right">
            <p>Nachher</p>
          </div>
        </div>
      </div>
      <div class="h-spacer"></div>
    </div>
  </div>

  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<div class="wide-frame">
  <div class="flex-horizontal">
    <div class="card card-style" style="width: 700px">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/garten-referenz4.jpg"
        alt="Bild eines Gartens in mediterraner Gestaltung"
        loading="lazy"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Umgestaltung eines alten Pools in einen mediterranen Garten mit...</p>
      </div>
    </div>

    <div class="card card-style" style="width: 700px">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/garten-referenz15.jpg"
        alt="Bild eines Gartens in mediterraner Gestaltung"
        loading="lazy"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">...alten Mauern, getrocknetem Flussbett, Feige und typischen Mittelmeerpflanzen.</p>
      </div>
    </div>
  </div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<div class="content-frame">
  <div class="flex-horizontal">
    <div class="card card-style" style="width: 500px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/garten/garten-referenz5.jpg" alt="Bild einer Terrasse" loading="lazy" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Neuanlage einer Terrasse aus keramischen Platten mit einer Granitumrandung...</p>
      </div>
    </div>

    <div class="card card-style" style="width: 500px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/garten/garten-referenz6.jpg" alt="Bild einer Treppe zur Terrasse" loading="lazy" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">... und einer Treppe.</p>
      </div>
    </div>

    <div class="card card-style" style="width: 800px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/garten/garten-referenz9.jpg" alt="Bild einer Zaunanlage" loading="lazy" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">WPC-Zaunanlage</p>
      </div>
    </div>
  </div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<div class="dark-bg">
  <div class="content-frame">
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>

    <div>
      <div class="centered-container">
        <h2 style="text-align: center">Terrassenneugestaltung aus keramischen Platten</h2>
      </div>
      <div class="h-spacer"></div>
      <div class="flex-horizontal">
        <div class="before-after-image-container">
          <img
            src="{{ site.baseurl }}/assets/images/garten/garten-referenz7.jpg"
            alt="Bild einer Terrasse vor dem Bau"
            class="default-border before-after-image"
            loading="lazy"
          />
          <div class="before-after-image-caption-left">
            <p>Vorher</p>
          </div>
        </div>
        <div class="before-after-image-container">
          <img
            src="{{ site.baseurl }}/assets/images/garten/garten-referenz8.jpg"
            alt="Bild einer Terrasse nach dem Bau"
            class="default-border before-after-image"
            loading="lazy"
          />
          <div class="before-after-image-caption-right">
            <p>Nachher</p>
          </div>
        </div>
      </div>
      <div class="h-spacer"></div>
    </div>

    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
  </div>
</div>

<div class="content-frame">
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="card card-style" style="width: 800px">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/garten-referenz10.jpg"
        alt="Bild einer Holzterrasse auf einem Flachdach"
        loading="lazy"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Gestaltung einer Holzterrasse auf einem Flachdach.</p>
      </div>
    </div>
  </div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<div class="wide-frame">
  <div class="flex-horizontal">
    <div class="card card-style" style="width: 700px">
      <img
        class="card-img-top"
        src="{{ site.baseurl }}/assets/images/garten/garten-referenz11.jpg"
        alt="Bild eines geometrisch gestalteten Gartens"
        loading="lazy"
      />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Geometrisch gestalteter Garten...</p>
      </div>
    </div>

    <div class="card card-style" style="width: 700px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/garten/garten-referenz12.jpg" alt="Bild eines Wasserlaufs" loading="lazy" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">... mit Edelstahlbecken...</p>
      </div>
    </div>

    <div class="card card-style" style="width: 700px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/garten/garten-referenz13.jpg" alt="Bild eines Wasserlaufs" loading="lazy" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">... und LED-Beleuchtung in 12 Farben.</p>
      </div>
    </div>
  </div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
