---
layout: default
---

{% include subcategory.html %}

<div class="content-frame">
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">Galerie</h1>
    </div>
  </div>
  <hr />
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="card card-style" style="width: 400px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/trauer-referenz1.jpg" alt="Bild von Hochzeitsfloristik" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Brautschmuck</p>
      </div>
    </div>

    <div class="card card-style" style="width: 400px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/trauer-referenz2.jpg" alt="Bild von Hochzeitsfloristik" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Brautstrauß</p>
      </div>
    </div>

    <div class="card card-style" style="width: 400px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/trauer-referenz3.jpg" alt="Bild von Hochzeitsfloristik" />
      <div class="card-body">
        <p class="card-text" style="text-align: center">Tischbeschmückung</p>
      </div>
    </div>
  </div>

  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
</div>
