---
layout: default
---

{% include home-carousel.html %}

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<div class="content-frame">
  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">{{ page.news-title }}</h1>
    </div>
  </div>
  <hr />
  <div class="centered-container text-block">
    <p>{{ page.news-text }}</p>
  </div>
</div>

<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>
<div class="h-spacer"></div>

<div class="dark-bg">
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="content-frame">
    <div class="centered-container">
      <h2>Womit können wir Ihnen weiterhelfen?</h2>
    </div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="flex-horizontal">
      <div class="card card-width card-style">
        <img class="card-img-top" src="{{ site.baseurl }}/assets/images/home/{{ page.card0-image }}" alt="Card image cap" />
        <div class="card-body">
          <a href="{{ site.baseurl }}/{{ page.card0-link }}" class="center-text fake_h3 stretched-link">{{ page.card0-title }}</a>
        </div>
      </div>

      <div class="card card-width card-style">
        <img class="card-img-top" src="{{ site.baseurl }}/assets/images/home/{{ page.card1-image }}" alt="Card image cap" />
        <div class="card-body">
          <a href="{{ site.baseurl }}/{{ page.card1-link }}" class="center-text fake_h3 stretched-link">{{ page.card1-title }}</a>
        </div>
      </div>

      <div class="card card-width card-style">
        <img class="card-img-top" src="{{ site.baseurl }}/assets/images/home/{{ page.card2-image }}" alt="Card image cap" />
        <div class="card-body">
          <a href="{{ site.baseurl }}/{{ page.card2-link }}" class="center-text fake_h3 stretched-link">{{ page.card2-title }}</a>
        </div>
      </div>

      <div class="card card-width card-style">
        <img class="card-img-top" src="{{ site.baseurl }}/assets/images/home/{{ page.card3-image }}" alt="Card image cap" />
        <div class="card-body">
          <a href="{{ site.baseurl }}/{{ page.card3-link }}" class="center-text fake_h3 stretched-link">{{ page.card3-title }}</a>
        </div>
      </div>

      <div class="card card-width card-style">
        <img class="card-img-top" src="{{ site.baseurl }}/assets/images/home/{{ page.card4-image }}" alt="Card image cap" />
        <div class="card-body">
          <a href="{{ site.baseurl }}/{{ page.card4-link }}" class="center-text fake_h3 stretched-link">{{ page.card4-title }}</a>
        </div>
      </div>

      <div class="card card-width card-style">
        <img class="card-img-top" src="{{ site.baseurl }}/assets/images/home/{{ page.card5-image }}" alt="Card image cap" />
        <div class="card-body">
          <a href="{{ site.baseurl }}/{{ page.card5-link }}" class="center-text fake_h3 stretched-link">{{ page.card5-title }}</a>
        </div>
      </div>

      <div class="card card-width card-style">
        <img class="card-img-top" src="{{ site.baseurl }}/assets/images/home/{{ page.card6-image }}" alt="Card image cap" />
        <div class="card-body">
          <a href="{{ site.baseurl }}/{{ page.card6-link }}" class="center-text fake_h3 stretched-link">{{ page.card6-title }}</a>
        </div>
      </div>

      <div class="card card-width card-style">
        <img class="card-img-top" src="{{ site.baseurl }}/assets/images/home/{{ page.card7-image }}" alt="Card image cap" />
        <div class="card-body">
          <a href="{{ site.baseurl }}/{{ page.card7-link }}" class="center-text fake_h3 stretched-link">{{ page.card7-title }}</a>
        </div>
      </div>
    </div>

    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
  </div>
</div>
