---
layout: default
---

{% include home-carousel.html %}
<!-- prettier ignore -->
{% include default-spacer.html %}

<div class="content-frame">
  <div class="block-container">
    <div class="centered-container">
      <h1 class="center-text">{{ page.news-title }}</h1>
    </div>
  </div>
  <hr />
  <div class="centered-container text-block">
    <p>{{ page.news-text }}</p>
  </div>
</div>
{% include default-spacer.html %}

<!-- prettier ignore -->
{% if page.navigation-overview %} {% if page.navigation-overview.size > 0 %}
<div class="dark-bg">
  {% include default-spacer.html %}
  <div class="content-frame">
    <div class="centered-container">
      <h2 class="center-text">Womit können wir Ihnen weiterhelfen?</h2>
    </div>
    {% include default-spacer.html %}

    <!-- prettier ignore -->
    {% for collection in page.navigation-overview %}
    <div class="centered-container">
      <p class="category-title">{{ collection.title }}</p>
    </div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="h-spacer"></div>
    <div class="flex-horizontal">
      {% for card in collection.links %}
      <div class="card card-width card-style">
        <img class="card-img-top" src="{{ site.baseurl }}/assets/images/home/{{ card.image }}" alt="Card image cap" />
        <div class="card-body">
          <a href="{{ site.baseurl }}/{{ card.link }}" class="center-text fake_h3 stretched-link">{{ card.title }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% include default-spacer.html %}
    <div class="h-spacer"></div>
    {% endfor %}
  </div>
</div>
{% include default-spacer.html %}
<!-- prettier ignore -->
{% endif %} {% endif %}

<!-- prettier ignore -->
{% include contact.html %}
