---
layout: default
---

{% include subcategory.html %}

<div class="content-frame">
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>

  <div class="flex-horizontal">
    <div class="card card-style" style="width: 500px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/peter.jpg" alt="Bild von Hochzeitsfloristik" />
      <div class="card-body">
        <p class="card-text">Peter Prein</p>
        <p class="card-text">Garten- und Landschaftsbau</p>
        <hr />
        <p class="card-text">
          Beschreibungstext Peter. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>

    <div class="card card-style" style="width: 500px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/elke.jpg" alt="Bild von Hochzeitsfloristik" />
      <div class="card-body">
        <p class="card-text">Elke Prein</p>
        <p class="card-text">Floristik</p>
        <hr />
        <p class="card-text">
          Beschreibungstext Elke. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua.
        </p>
      </div>
    </div>

    <div class="card card-style" style="width: 500px">
      <img class="card-img-top" src="{{ site.baseurl }}/assets/images/ahrens.jpg" alt="Bild von Hochzeitsfloristik" />
      <div class="card-body">
        <p class="card-text">Elke Ahrens</p>
        <p class="card-text">Floristik</p>
        <hr />
        <p class="card-text">
          Beschreibungstext Ahrens. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
          Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>

  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
  <div class="h-spacer"></div>
</div>
